@charset "UTF-8";

.teaser-container .teaser-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 32px;
}

.teaser-container .teaser-wrapper .teaser > div {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  min-height: 390px;
}

.teaser-container .teaser-wrapper .right-img > div {
  flex-direction: row-reverse;
  gap: 20px;
}

.teaser-container .teaser-wrapper .top-img > div {
  flex-direction: column;
  gap: 0;
}

.teaser-container .teaser-wrapper .bottom-img > div {
  flex-direction: column-reverse;
  gap: 0;
}

.teaser-container .teaser-wrapper .teaser > div > div:first-child {
  width: 52%;
  padding: 20px;
}

.teaser-container .teaser-wrapper .teaser > div > div:first-child picture img {
  padding-top: 40px;
  width: 100%;
}

.teaser-container .teaser-wrapper .teaser > div > div:last-child {
  width: 48%;
  padding: 20px 0;
}

.teaser-container .teaser-wrapper .teaser > div > div:last-child h2 {
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
  color: #211f20;
}

.teaser-container .teaser-wrapper .teaser > div > div:last-child ul {
  list-style: none;
  margin: 0 0 15px;
  padding: 15px;
}

.teaser-container .teaser-wrapper .teaser > div > div:last-child ul li {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  color: #636469;
  position: relative;
  margin: 0 0 14px;
  padding-left: 30px;
}

.teaser-container .teaser-wrapper .teaser > div > div:last-child ul li::before {
  content: "✓";
  position: absolute;
  top: 3px;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 11px;
  font-weight: 700;
  background: #55b96b;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.teaser-container .teaser-wrapper .teaser > div > div:last-child p {
  display: flex;
  align-items: center;
  gap: 60px;
}

.teaser-container .teaser-wrapper .teaser > div > div:last-child p a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  text-transform: capitalize;
}

.teaser-container .teaser-wrapper .teaser > div > div:last-child p a:first-child {
  padding: 13px 36px;
  border-radius: 8px;
  background: linear-gradient(90deg, #0068c9, #7130c5);
  color: #fff;
  transition: opacity 0.2s ease;
}

.teaser-container .teaser-wrapper .teaser > div > div:last-child p a:last-child {
  position: relative;
  padding-right: 25px;
  color: #0068c9;
}

.teaser-container .teaser-wrapper .teaser > div > div:last-child p a:first-child:hover {
  opacity: 0.9;
}

.teaser-container .teaser-wrapper .teaser > div > div:last-child p a:last-child:hover {
  color: #004e96;
}

.teaser-container .teaser-wrapper .teaser > div > div:last-child p a:last-child::after {
  content: "→";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 8px;
  font-size: 22px;
  font-weight: 400;
}

.teaser-container .teaser-wrapper .right-img > div > div:last-child {
  padding: 36px 0 20px 20px;
}

.teaser-container .teaser-wrapper .top-img > div > div:first-child {
  padding: 0;
}

.teaser-container .teaser-wrapper .top-img > div > div:last-child {
  padding: 5px 0 0 60px;
}

.teaser-container .teaser-wrapper .bottom-img > div > div:last-child {
  padding: 5px 0 0 60px;
}

.teaser-container .teaser-wrapper .bottom-img > div > div:first-child {
  padding: 0;
}/*# sourceMappingURL=teaser.css.map */